[Unit]
Description=human strategy

[Service]
Environment="NODE_ENV=production"
Environment="PORT=80"
ExecStart=/usr/bin/node /root/workspace/api-connectors/official-ws/nodejs/influxdb/hight_frequent/humanStrategyServer/server/bin/www --noProxy
WorkingDirectory=/root/workspace
Restart=always

[Install]
WantedBy=multi-user.target