
.strategy-container {

}

.strategy-container .title {
  margin: 5px;
}

.strategy-container .statistic {
  margin: 5px;
  font-size: 14px;
}

.jsgrid-cell {
  background: transparent !important;
}

.warn {
  background: yellow;
}